%h1= @doc.title
%p= simple_format(@doc.content)

= link_to "Pokaż wszytski wpisy", docs_path
= link_to "Edytuj", edit_doc_path(@doc)
= link_to "Usuń", doc_path(@doc), method: :delete, data: {confirm: "Napewno chcesz usunąć wpis?"}